





<!DOCTYPE html>
<html lang="en">
    <head>
        


    <!-- Google Tag Manager -->
    <script>
        
        var dataLayer = [{"govie_cg_id": 165, "govie_cg_title": "Department of Health", "govie_i_title": "An analysis of the 438 cases of COVID-19 in Ireland (as of Wednesday 18 March 2020)", "govie_i_type": "general-publications", "govie_i_id": 71729}];
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KWS7Z8Z');
    </script>
    <!-- End Google Tag Manager -->


        
        <meta name="google-site-verification" content="3u1-J7R2GPJmrQF_wQTsxA0r28C4EiSZKxhyR4cz-UA" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gov.ie - An analysis of the 438 cases of COVID-19 in Ireland (as of Wednesday 18 March 2020)</title>
        <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css?build=3f5d1c7">
        <link rel="stylesheet" href="/static/fontawesome/all.css?build=3f5d1c7">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/static/assets/css/style.css?build=3f5d1c7">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
        <link rel="shortcut icon" href="/static/assets/img/favicon.png" />
        
    
        <meta name="description" content="An analysis of the 438 cases of COVID-19 in Ireland (as of 18 March 2020)." />
    

        
    </head>
    <body ng-app="app">

        <div ng-controller="PageViewController" style="display: none;"></div>

        




<div ng-controller="CookieConsentController" ng-show="!cookie_consent.data.consent_cookie || cookie_consent.data.consent_cookie === undefined" ng-cloak>
    <div class="container-fluid" style="background-color: #f6f6f2;">
        <div class="row">
            <div class="container">
                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="bold">A notice about cookies</h4>
                        <p>This website uses cookies. Some cookies may have been
                set already. To find out more about our use of cookies you
                can visit our Privacy policy. By browsing this website, you
                agree to our use of cookies.</p>
                    </div>
                    <div class="col-sm-2 col-xs-3 text-right">
                        <h4 class="bold">&nbsp;</h4>
                        <a class="btn btn-success no-radius" ng-click="cookie_consent.set_cookies()">
                            I agree
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        


<div class="container-fluid collapse hidden-lg hidden-md" id="nav_menu" style="position: fixed;">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-4" style="background-color: #00241a; padding-top: 20px; height: 100vh;">
            <div class="col-sm-12 text-right" style="margin-bottom: 30px;">
                <div class="row">
                    <a data-toggle="collapse" href="#nav_menu" aria-expanded="false" aria-controls="nav_menu" style="margin-left: 13px;" id="nav_button">
                        <img src="/static/assets/img/frontend/Icon_SearchCancelWhite.png" width="24px" />
                    </a>
                </div>
            </div>
            <ul class="mobile_nav">
                
                    <li>
                        <a href="/en/help/departments/" class="white margin-left-20">Departments</a>
                    </li>
                
                
                    <li>
                        <a href="/en/consultations/" class="white margin-left-20">Consultations</a>
                    </li>
                
                    <li>
                        <a href="/en/publications/" class="white margin-left-20">Publications</a>
                    </li>
                
                    <li>
                        <a href="/en/policies/" class="white margin-left-20">Policies</a>
                    </li>
                
                
                    <li><a href="/en/change-ui-to/en/?slug=8eadd0-an-analysis-of-the-438-cases-of-covid-19-in-ireland-as-of-wednesday-18-m" class="white margin-left-20">English</a></li>
                
                    <li><a href="/en/change-ui-to/ga/?slug=8eadd0-an-analysis-of-the-438-cases-of-covid-19-in-ireland-as-of-wednesday-18-m" class="white margin-left-20">Gaeilge</a></li>
                
            </ul>
        </div>
    </div>
</div>







<div class="container-fluid state-green" style="padding-top: 6px; padding-bottom: 6px;">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-5">
                    <a href="/en/">
                        <img src="/static/assets/img/govie_logo.png" style="height: 55px;" />
                    </a>
                </div>
                <div class="col-sm-10 col-xs-7 text-right text-18 hidden-xs hidden-sm" style="padding-top: 5px; padding-bottom: 4px;">
                    
                        <a href="/en/help/departments/" class="white margin-left-20">
                            Departments</a>
                    
                    
                        <a href="/en/consultations/" class="white margin-left-20">Consultations</a>
                    
                        <a href="/en/publications/" class="white margin-left-20">Publications</a>
                    
                        <a href="/en/policies/" class="white margin-left-20">Policies</a>
                    
                    <img src="/static/assets/img/frontend/Tapered_Vertical_Rule.png" class="margin-left-20"/>
                    <div class="dropdown" style="display: inline-block;">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="white margin-left-20">
                            Language <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right no-radius" aria-labelledby="dLabel">
                            
                                <li>
                                    <a href="/en/change-ui-to/en/?slug=8eadd0-an-analysis-of-the-438-cases-of-covid-19-in-ireland-as-of-wednesday-18-m"
                                    class="text-18 active">
                                        English
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="/en/change-ui-to/ga/?slug=8eadd0-an-analysis-of-the-438-cases-of-covid-19-in-ireland-as-of-wednesday-18-m"
                                    class="text-18 ">
                                        Gaeilge
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                    
                        <a data-toggle="collapse" href="#collapse_searchbar" aria-expanded="false" aria-controls="collapse_searchbar"
                        class="white state-gold margin-left-20 search_button" style="padding: 24px 16px 28px 16px; border: 0px;">
                            <img src="/static/assets/img/frontend/Icon_Search.png" style="width: 20px;" class="search_button_icon search_glass"/><img
                            src="/static/assets/img/frontend/Icon_SearchCancel.png" style="width: 20px; display: none; search_cross"
                            class="search_button_icon" /></a>
                    
                </div>
                <div class="col-sm-10 col-xs-7 text-right text-18 padding-top-bot-12 hidden-lg hidden-md">
                    
                        <a data-toggle="collapse" href="#collapse_searchbar" aria-expanded="false" aria-controls="collapse_searchbar"
                        class="white state-gold margin-left-20 search_button" style="padding: 20px 16px 26px 16px;">
                            <img src="/static/assets/img/frontend/Icon_Search.png" style="width: 20px;" class="search_button_icon search_glass"/><img
                            src="/static/assets/img/frontend/Icon_SearchCancel.png" style="width: 20px; display: none; search_cross"
                            class="search_button_icon" /></a>
                    
                    <a data-toggle="collapse" href="#nav_menu" aria-expanded="false" aria-controls="nav_menu" style="margin-left: 13px;" id="nav_button">
                        <img src="/static/assets/img/frontend/Icon_Hamburger.png" width="24px" id="nav_open_icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





    <div class="container-fluid collapse tint-state-gold" id="collapse_searchbar">
        <div class="row">
            <div class="container padding-top-bot-24">
                <div class="col-sm-10 col-sm-offset-1 ">
                    <form method="GET" action="/en/search/">
                        <div class="row">
                            <div class="col-sm-11 col-xs-10">
                                <div class="row">
                                    <input type="text" name="q" class="form-control input-lg no-radius text-18" style="border: 1px solid #a39161"
                                    placeholder="Search gov.ie" value="" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-1 col-xs-2">
                                <div class="row">
                                    <button class="btn btn-default btn-lg no-radius state-gold btn-block">
                                        <img src="/static/assets/img/frontend/Icon_Search.png" width="17px" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid gov-lime-green height-10" style="position: relative;">
        &nbsp;
    </div>



        

    

    <div class="container margin-top-50">
        
            







<div class="row margin-bottom-20">
    



    <div class="container" style="margin-top: 0px; padding-top: 0px; padding-bottom: 0px;">
        <span class="label label-default" style="border-radius: 0px; display: inline-block; margin-right: 20px; background-color: #00b8ff;">BETA</span>
        <p style="display: inline-block; font-size: 13px;">
            This is a prototype - your
            <a href="#feedback">feedback</a> will help us to improve it.
        </p>
    </div>


    <div class="col-sm-8">

        <span class="text-18 bold state-gold-text">Publication</span>
        <h1 class="text-40 margin-top-5 state-green bold gold-top-border margin-bottom-30">
            An analysis of the 438 cases of COVID-19 in Ireland (as of Wednesday 18 March 2020)
        </h1>

        
            Published: 20 March 2020<br />
        
        

        
            
            From:
            
                
                    <a href="/en/organisation/department-of-health/">Department of Health</a>
                
            
        

        

        

        

        

        

    </div>
    <div class="col-sm-4"></div>
</div>

        
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container get-min-height">
                <div class="row">
                    <div class="col-md-8 col-sm-8 padding-top-20 govie-markdown">
                        
                            

<div class="row">
    <div class="col-sm-12 text-18 line-height-27">
        <div class="row markdown-content-list" style="margin-bottom: 10px;">
    <div class="col-sm-12">
        <div class="row">
            
                <div class="col-sm-12">
                    <ul>
                        
                            <li>
                                
                                    <a href="#hospital-statistics">
                                        1. Hospital statistics
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#gender-of-patients">
                                        2. Gender of patients
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#age-range-affected">
                                        3. Age range affected
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#hospitalised-cases-by-age-group">
                                        4. Hospitalised cases by age group
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#how-covid-19-is-spreading">
                                        5. How COVID-19 is spreading
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#healthcare-workers">
                                        6. Healthcare workers
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#cases-by-county">
                                        7. Cases by county
                                    </a>
                                
                            </li>
                        
                            <li>
                                
                                    <a href="#cluster-type">
                                        8. Cluster type
                                    </a>
                                
                            </li>
                        
                    </ul>
                </div>
            
            
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;"></div>
</div>
<p class="text-18" style="margin-bottom: 20px;">
    The National Public Health Emergency Team has done an analysis of the 438 cases notified as at <strong>midnight Wednesday, 18 March 2020:</strong>
</p>
<p class="text-18" style="margin-bottom: 10px;">
    The latest data from HPSC reveals:
</p>

        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
    <li style="margin-left: 15px; text-indent: -15px;">of the 438 cases notified, 55% are male and 43% are female, with 27 clusters involving 142 cases</li>
<li style="margin-left: 15px; text-indent: -15px;">median age of confirmed cases is 44</li>
<li style="margin-left: 15px; text-indent: -15px;">32% of cases have been hospitalised</li>
<li style="margin-left: 15px; text-indent: -15px;">2.7% (12 cases) admitted to ICU - representing 8.6% of all cases hospitalised</li>
<li style="margin-left: 15px; text-indent: -15px;">114 cases are associated with healthcare workers, 36 of whom are associated with foreign travel</li>
<li style="margin-left: 15px; text-indent: -15px;">Dublin has the highest number of cases at 51%, followed by Cork 15% and Limerick and Wicklow have 3% of cases each</li>
</ul></div></div><p class="text-18" style="margin-bottom: 10px;">
    Of those for whom transmission status is known:
</p>

        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
    <li style="margin-left: 15px; text-indent: -15px;">community transmission accounts for 40%</li>
<li style="margin-left: 15px; text-indent: -15px;">local transmission/ close contact accounts for 21%</li>
<li style="margin-left: 15px; text-indent: -15px;">travel abroad accounts for 39%</li>
<li style="margin-left: 15px; text-indent: -15px;">96 cases remain under investigation</li>
</ul></div></div><h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="hospital-statistics" rel="nofollow" class="heading_anchors"></a>
    Hospital statistics
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td><strong>Source: HSPC</strong></td>
    
        <td><strong>Number of people</strong></td>
    
        <td>*<strong>% of total</strong></td>
    
</tr>
<tr>
    
        <td>Total number of cases</td>
    
        <td>438</td>
    
        <td> </td>
    
</tr>
<tr>
    
        <td>Total number hospitalised</td>
    
        <td>140</td>
    
        <td>32%</td>
    
</tr>
<tr>
    
        <td>Total number admitted to ICU</td>
    
        <td>12</td>
    
        <td>3%</td>
    
</tr>
<tr>
    
        <td>Total number deaths</td>
    
        <td>3</td>
    
        <td>0.7%</td>
    
</tr>
<tr>
    
        <td>Case fatality rate</td>
    
        <td> </td>
    
        <td>0.6%</td>
    
</tr>
<tr>
    
        <td>Total number healthcare workers</td>
    
        <td>114</td>
    
        <td>26%</td>
    
</tr>
<tr>
    
        <td>Number clusters notified</td>
    
        <td>27</td>
    
</tr>
<tr>
    
        <td>Median age</td>
    
        <td>44</td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 50px;">
     *All statistics measured at midnight, 18 March.
</p>
<h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="gender-of-patients" rel="nofollow" class="heading_anchors"></a>
    Gender of patients
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td>Male</td>
    
        <td>241</td>
    
        <td>55%</td>
    
</tr>
<tr>
    
        <td>Female</td>
    
        <td>189</td>
    
        <td>43%</td>
    
</tr>
<tr>
    
        <td>Unknown</td>
    
        <td>7</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Total</td>
    
        <td>438</td>
    
        <td> </td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 50px;">
     *All statistics measured at midnight, 18 March.
</p>
<h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="age-range-affected" rel="nofollow" class="heading_anchors"></a>
    Age range affected
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td><strong>Age group</strong></td>
    
        <td><strong>Number of people</strong></td>
    
        <td><strong>% of total</strong></td>
    
</tr>
<tr>
    
        <td><1</td>
    
        <td>1</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>1 - 4</td>
    
        <td>1</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>5 - 14</td>
    
        <td> 9</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>15 - 24</td>
    
        <td>47</td>
    
        <td>11%</td>
    
</tr>
<tr>
    
        <td>25 - 34</td>
    
        <td>78</td>
    
        <td>18%</td>
    
</tr>
<tr>
    
        <td>35 - 44</td>
    
        <td>96</td>
    
        <td>22%</td>
    
</tr>
<tr>
    
        <td>45 - 54</td>
    
        <td>62</td>
    
        <td>14%</td>
    
</tr>
<tr>
    
        <td>55 - 64</td>
    
        <td>69</td>
    
        <td>16%</td>
    
</tr>
<tr>
    
        <td>65+</td>
    
        <td>75</td>
    
        <td>17%</td>
    
</tr>
<tr>
    
        <td>Total</td>
    
        <td>438</td>
    
        <td> </td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 50px;">
     *All statistics measured at midnight, 18 March.
</p>
<h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="hospitalised-cases-by-age-group" rel="nofollow" class="heading_anchors"></a>
    Hospitalised cases by age group
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td><strong>Age group</strong></td>
    
        <td><strong>Number of people</strong></td>
    
        <td><strong>% of total</strong></td>
    
</tr>
<tr>
    
        <td><5</td>
    
        <td>1</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>5 - 14</td>
    
        <td>2</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>15 - 24</td>
    
        <td>9</td>
    
        <td>8%</td>
    
</tr>
<tr>
    
        <td>25 - 34</td>
    
        <td>16</td>
    
        <td>15%</td>
    
</tr>
<tr>
    
        <td>35 - 44</td>
    
        <td>15</td>
    
        <td>14%</td>
    
</tr>
<tr>
    
        <td>45 - 54</td>
    
        <td>11</td>
    
        <td>10%</td>
    
</tr>
<tr>
    
        <td>55 - 64</td>
    
        <td>23</td>
    
        <td>21%</td>
    
</tr>
<tr>
    
        <td>65+</td>
    
        <td>31</td>
    
        <td>29%</td>
    
</tr>
<tr>
    
        <td>Total</td>
    
        <td>108</td>
    
        <td> </td>
    
</tr>
</table></ul></div></div><h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="how-covid-19-is-spreading" rel="nofollow" class="heading_anchors"></a>
    How COVID-19 is spreading
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td><strong>Transmission classification</strong></td>
    
        <td><strong>% known</strong></td>
    
</tr>
<tr>
    
        <td>Community transmission</td>
    
        <td>40%</td>
    
</tr>
<tr>
    
        <td>Contact with a confirmed case</td>
    
        <td>21%</td>
    
</tr>
<tr>
    
        <td>Travel abroad </td>
    
        <td>39%</td>
    
</tr>
<tr>
    
        <td>Under investigation</td>
    
        <td>96</td>
    
        <td> </td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 20px;">
     *All statistics measured at midnight, 18 March.
</p>
<p class="text-18" style="margin-bottom: 20px;">
    <strong>Note:</strong>
</p>
<p class="text-18" style="margin-bottom: 20px;">
    In the event that a person tests positive for COVID-19 and hasn't been abroad or had contact with another confirmed case in Ireland, that's known as community transmission.
</p>
<p class="text-18" style="margin-bottom: 50px;">
    In the event that a person who tests positive for COVID-19 can be linked to another confirmed case in Ireland, that's known as local transmission.
</p>
<h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="healthcare-workers" rel="nofollow" class="heading_anchors"></a>
    Healthcare workers
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td>Travel related</td>
    
        <td>28</td>
    
        <td>33%</td>
    
</tr>
<tr>
    
        <td>No foreign travel</td>
    
        <td>55</td>
    
        <td>65%</td>
    
</tr>
<tr>
    
        <td>Under investigation</td>
    
        <td>1</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Total</td>
    
        <td>84</td>
    
        <td> </td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 50px;">
     *All statistics measured at midnight, 18 March.
</p>
<h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="cases-by-county" rel="nofollow" class="heading_anchors"></a>
    Cases by county
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>


        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td><strong>County</strong></td>
    
        <td><strong>Number of cases</strong></td>
    
        <td><strong>% of total</strong></td>
    
</tr>
<tr>
    
        <td>Carlow </td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Cavan </td>
    
        <td>≤ 5</td>
    
        <td> 0%</td>
    
</tr>
<tr>
    
        <td>Donegal </td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Laois</td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Leitrim</td>
    
        <td>≤ 5</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>Longford</td>
    
        <td>≤ 5</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>Mayo</td>
    
        <td>≤ 5</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>Offaly</td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Roscommon</td>
    
        <td>≤ 5</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>Sligo</td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Tipperary</td>
    
        <td>≤ 5</td>
    
        <td>1%</td>
    
</tr>
<tr>
    
        <td>Wexford</td>
    
        <td>≤ 5</td>
    
        <td>0%</td>
    
</tr>
<tr>
    
        <td>Clare</td>
    
        <td>7</td>
    
        <td> 2%</td>
    
</tr>
<tr>
    
        <td>Kilkenny</td>
    
        <td>7</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Kerry</td>
    
        <td>7</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Waterford</td>
    
        <td>7</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Louth</td>
    
        <td>8</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Kildare</td>
    
        <td>9</td>
    
        <td>2%</td>
    
</tr>
<tr>
    
        <td>Meath</td>
    
        <td>11</td>
    
        <td>3%</td>
    
</tr>
<tr>
    
        <td>Westmeath</td>
    
        <td>12</td>
    
        <td>3%</td>
    
</tr>
<tr>
    
        <td>Galway</td>
    
        <td>14</td>
    
        <td>3%</td>
    
</tr>
<tr>
    
        <td>Wicklow</td>
    
        <td>15</td>
    
        <td>3%</td>
    
</tr>
<tr>
    
        <td>Limerick</td>
    
        <td>15</td>
    
        <td> 3%</td>
    
</tr>
<tr>
    
        <td>Cork</td>
    
        <td>66</td>
    
        <td>15%</td>
    
</tr>
<tr>
    
        <td>Dublin</td>
    
        <td>225</td>
    
        <td>51%</td>
    
</tr>
</table></ul></div></div><h2 class="text-32 state-green gold-top-border text bold margin-top-0" >
    <a name="cluster-type" rel="nofollow" class="heading_anchors"></a>
    Cluster type
</h2>

    <div class="row" style="margin-bottom: 30px;"></div>

<p class="text-18" style="margin-bottom: 20px;">
    			
</p>

        <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12"><ul class="state-green-list">
        <table class="table table-striped">
    <tr>
    
        <td>Travel</td>
    
        <td>11</td>
    
        <td>	</td>
    
</tr>
<tr>
    
        <td>Hospital</td>
    
        <td>5</td>
    
</tr>
<tr>
    
        <td>Nursing Home</td>
    
        <td>3</td>
    
</tr>
<tr>
    
        <td>Private house</td>
    
        <td>3</td>
    
</tr>
<tr>
    
        <td>Extended family</td>
    
        <td>2</td>
    
</tr>
<tr>
    
        <td>Workplace</td>
    
        <td>2</td>
    
</tr>
<tr>
    
        <td>Under investigation</td>
    
        <td>1</td>
    
</tr>
<tr>
    
        <td>Total</td>
    
        <td>27</td>
    
</tr>
</table></ul></div></div><p class="text-18" style="margin-bottom: 20px;">
     *All statistics measured at midnight, 18 March.
</p>
<p class="text-18" style="margin-bottom: 20px;">
     < means 'less than'.
</p>
<p class="text-18" style="margin-bottom: 50px;">
     ≤ means 'less than or equal to'.
</p>

    </div>
</div>

                        
                    </div>
                    <div class="col-md-4 col-sm-4 padding-top-20">
                        
                            




    
    <div class="col-sm-12 state-light-grey" style="border-top: 2px solid #a39161;">
        <div class="row">
            <div class="col-sm-12 padding-top-20 padding-bottom-5">
                <h3 class="text-21 bold text state-green margin-top-0">
                    Part of
                </h3>
            </div>

            

            

            
                
                


<div class="col-sm-12 padding-bottom-10 text-18 card part-of-block">
    <span class="part-of-block-header">Policy</span>
    <ul>
        
            <li>
                <a href="/en/policy/c75aa0-health/">
                    Health
                </a>
            </li>
        
    </ul>
</div>

            

            
                
                


<div class="col-sm-12 padding-bottom-10 text-18 card part-of-block">
    <span class="part-of-block-header">Collection</span>
    <ul>
        
            <li>
                <a href="/en/collection/ef2560-analysis-of-confirmed-cases-of-covid-19-coronavirus-in-ireland/">
                    Analysis of confirmed cases of COVID-19 (Coronavirus) in Ireland
                </a>
            </li>
        
    </ul>
</div>

            

            
                
                


<div class="col-sm-12 padding-bottom-10 text-18 card part-of-block">
    <span class="part-of-block-header">Campaign</span>
    <ul>
        
            <li>
                <a href="/en/campaigns/c36c85-covid-19-coronavirus/">
                    COVID-19 (Coronavirus)
                </a>
            </li>
        
    </ul>
</div>

            

            

        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 19px;"></div>


                        
                    </div>
                </div>
            </div>
        </div>
    </div>


        










<div class="container pre-footer">
    











<div class="row feedback-widget" ng-controller="FeedbackController" ng-cloak>
    <div class="col-md-4 col-md-offset-8 col-sm-12 feedback-widget-title" ng-show="!feedback_widget.show.form">
        <div class="col-sm-12">
            <div class="row state-gold-aa">
                <div class="col-sm-12 col-xs-12" style="padding: 10px 10px;">
                    <h4>
                        <span ng-show="!feedback_widget.show.submit_success">Is this page useful?</span>
                        <span ng-show="feedback_widget.show.submit_success">Thank you for your feedback.</span>
                        <a name="feedback" rel="no-follow"></a>
                    </h4>
                    <span ng-show="feedback_widget.allow.feedback" class="pull-right">
                        <a class="btn btn-default no-radius bold" ng-click="feedback_widget.yes()" style="margin-right: 10px;">
                            YES
                        </a>
                        <a class="btn btn-default no-radius bold" ng-click="feedback_widget.no()">
                            NO
                        </a>
                    </span>
                    <span class="glyphicon glyphicon-ok-circle pull-right" ng-show="feedback_widget.show.submit_success && !feedback_widget.allow.feedback"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 feedback-widget-content" ng-show="feedback_widget.show.form">
        <div class="col-sm-12" style="background-color: #83764E; height: 2px; border: 0px;"></div>
        <div class="row">
            <div class="col-sm-8" style="padding-top: 20px;">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="state-green bold margin-top-0">
                            Please help us improve Gov.ie
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            
                Do not include any personal details in the box below.
                The information you submit will be analysed to improve the
                site and will not be responded to individually.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Describe what were you trying to do, and what went wrong.</label>
                        <textarea class="form-control no-radius" rows="5" maxlength="[[ feedback_widget.cfg.text.maxlength ]]"
                        ng-model="feedback_widget.data.text">[[ feedback_widget.data.text ]]</textarea>
                        <p><small>Max: [[ feedback_widget.data.text.length ]]/[[ feedback_widget.cfg.text.maxlength ]] characters</small></p>
                    </div>
                </div>
                <div class="row feedback-widget-submit">
                    <div class="col-sm-12 text-right">
                        <a class="btn btn-success btn-lg no-radius" ng-click="feedback_widget.send_no_feedback()"
                        ng-disabled="feedback_widget.data.text.length < 1">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 20px;">
                <img src="/static/assets/img/frontend/Icon_SearchCancel.png" class="pull-right" style="height: 20px; cursor: pointer;"
                ng-click="feedback_widget.show.form = !feedback_widget.show.form" />
            </div>
        </div>
    </div>
</div>

</div>
<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="text-18 bold">
                        Services and Information
                    </h3>
                    <ul>
                        
                            <li>
                                <a href="/en/category/social-welfare/">
                                    Social Welfare
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/education/">
                                    Education
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/family-and-relationships/">
                                    Family and Relationships
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/money-and-tax/">
                                    Money and Tax
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/housing/">
                                    Housing
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/transport-and-travel/">
                                    Transport and Travel
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/health/">
                                    Health
                                </a>
                            </li>
                        
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-18 bold hidden-xs">&nbsp;</h3>
                    <ul>
                        
                            <li>
                                <a href="/en/category/business/">
                                    Business
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/national-government/">
                                    National Government
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/employment/">
                                    Employment
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/agriculture/">
                                    Agriculture
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/justice/">
                                    Justice
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/environment/">
                                    Environment
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/category/local-government/">
                                    Local Government
                                </a>
                            </li>
                        
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-18 bold">
                        Departments and Publications
                    </h3>
                    <ul>
                        
                            <li>
                                <a href="/en/circulars/">Circulars</a>
                            </li>
                        
                            <li>
                                <a href="/en/consultations/">Consultations</a>
                            </li>
                        
                            <li>
                                <a href="/en/publications/">Publications</a>
                            </li>
                        
                            <li>
                                <a href="/en/policies/">Policies</a>
                            </li>
                        
                    </ul>
                </div>
            </div>
            <hr class="state-gold" />
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="/static/assets/img/gov_logo.png" height="57px" />
                </div>
                <div class="col-md-9 col-sm-6 submenu text-right padding-top-15">
                    <ul>
                        
                            <li>
                                <a href="/en/help/privacy-policy/">
                                    Privacy policy
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/help/accessibility/">
                                    Accessibility
                                </a>
                            </li>
                        
                            <li>
                                <a href="/en/help/about-govie/">
                                    About gov.ie
                                </a>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


        <script>
            function GovieGlobalVariables(){
                this.cookies = {
                    'expiry_days': 365,
                    'consent': {'name': 'govie-consent', 'reset_on_visit': false},
                    'csrf': '603ybur9p5DABpUkM233YeRUtPPTXS27anNAaBDYzVVk6hDRyOwq9eEnQKry4QqC',
                    'users': {'name': 'govie-user', 'reset_on_visit': false},
                };
                this.selectors = {
                    'consent': {'message': '#consent_message', 'close': '#consent_message_close'},
                    'feedback': {'yes': '#feedback_yes', 'no': '#feedback_no'}
                };
                this.api = {
                    'events': {'url': '/log-event/', 'name': 'yesno_feedback'},
                    'page_view': {'url': '/log-event/', 'name': 'page_views'}
                };
                this.item = {
                    'item': 71729,
                    'type': 'general-publications',
                    'container_group': 165,
                }
            };
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/bootstrap/bootstrap.min.js?build=3f5d1c7"></script>
        <!-- Script below can deprecated after all bs dropdown menus removed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
        <script src="/static/assets/js/bootstrap-extension.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/markdown.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/fancybox.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/angularjs/helpers.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/angularjs/app.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/angularjs/consent/controller.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/angularjs/feedback/controller.js?build=3f5d1c7"></script>
        <script src="/static/assets/js/angularjs/page_views/controller.js?build=3f5d1c7"></script>
        

        <!-- Script below can deprecated after all bs dropdown menus removed -->
        <script>
            var list_of_selectors = [
                '.bs-picker',
            ];
            var choice_length = 7;
            $.each( list_of_selectors, function( index, value ){
                $(value).selectpicker({
                    style: 'btn-default btn-lg no-radius',
                    size: choice_length
                });
            });
        </script>

        

    </body>
</html>
